{%extends 'Base/main.html'%}
{%block content%}
<div class="header">
    <h1>Creating An Account</h1>
</div>


<form method="post">
    {%csrf_token%}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    
    <input class="button" type="submit" value="Create Account">
</form>

<p>Looking to Login? <a href="{%url 'Login'%}">LogIn</a></p>
{%endblock content%}