{%extends 'Base/main.html'%}
{%block content%}

<div class="header">
    <div>
        <h1>Nice to see you {{request.user|title}}!</h1>
        <h3> <i>{{Count}}</i> Task{{Count|pluralize}} left!</h3>
    </div>
    {%if request.user.is_authenticated%}
    <a href="{%url 'Logout'%}">Logout</a>
    {%else%}
    <a href="{%url 'Login'%}">Login</a>
    {%endif%}
</div>





<hr>
<h1> To Do List</h1>
<a href="{%url 'Create'%}">Add Task</a>

<form method="get">
    <input type="type" name="Serching" value="{{searchInput}}">
    <input type="submit" value="Search">
    

</form>

<table>
    <tr>
        <th>Items</th>
        <th></th>
    </tr>
    {% for task in Tasks%}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{%url 'Update' task.id%}">Edit</a></td>
        <td><a href="{%url 'Delete' task.id%}">Delete</a></td>
    </tr>
    {%empty%}
        <h2>Empty List</h2>
    {%endfor%}

</table>
{%endblock content%}

